{% extends '_baseTemplate' %}
{% set metaTitle = 'Juniper Studios - Random Ramblings: ' ~ entry.title %}
{% set hero = entry.blogHeroImage.one().url %}
{% set BlogOG = entry.blogHeroImage.one() %}
{% set blogDesc = (entry.blogMain|length > 160 ? entry.blogMain|slice(3, 160) ~ '...' : entry.blogMain)|striptags %}

{% block body %}
    <div class="hero text-center d-flex align-items-center justify-content-center">
        <div class="container">
            <h1>{{entry.title}}</h1>
        </div>
        <div class="hero-img" style="background-image: url({{hero}})"></div>
    </div>

    <div class="container">
      <span class="date my-3"><i class="fas fa-calendar"></i> {{ entry.postDate | date("l jS F, Y") }}</span>
        {{entry.blogMain}}
      <hr>
      <ul class="icon-menu horizontal">
        <li type="button" class="icon-box">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{craft.app.request.absoluteUrl}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li type="button" class="icon-box">
            <a href="http://reddit.com/submit?url={{craft.app.request.absoluteUrl}}" target="_blank"><i class="fab fa-reddit-alien"></i></a>
        </li>
        <li type="button" class="icon-box">
            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{craft.app.request.absoluteUrl}}" target="_blank"><i class="fab fa-linkedin"></i></a>
        </li>
        <li type="button" class="icon-box">
            <a href="http://twitter.com/share?url={{craft.app.request.absoluteUrl}}" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
      </ul>
    </div>
{% endblock %}