{% extends '_baseTemplate' %}
{% set metaTitle = 'Juniper Studios - Blog Index' %}

{% block body %}
  <div id="blog" class="full-height">
    <div class="container align-items-center text-center row mx-auto px-2 py-3">
      <h1 style="color: hsl(233, 5%, 20%)" class="mx-auto my-5"><span style="color: #f0c90e"><b>Random Ramblings:</b></span> My Blog</h1>
      <div class="container row justify-content-center">
        {% for post in craft.entries.section('blog').orderBy('postDate desc').all() %}
          {% set thumb = post.blogThumb.one().url %}
          <!-- Articles Starts -->
          <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-5">
            <a href="/blog/{{post.slug}}">
              <article class="post-container">
                <div class="post-thumb">
                  <div class="d-block position-relative overflow-hidden post-thumb-wrapper">
                    <img src="{{thumb}}" alt="{{post.title}}">
                  </div>
                </div>
                <div class="post-content">
                  <h3 class="entry-header">{{post.title}}</h3>
                  <p>{{ (post.blogMain|length > 150 ? post.blogMain|slice(3, 150) ~ '...' : post.blogMain)|raw }}</p>
                </div>
              </article>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
